@mixin font-face($font-family, $file-name, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    src: url('@/assets/fonts/#{$file-name}.woff2') format('woff2'),
         url('@/assets/fonts/#{$file-name}.woff') format('woff');
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@include font-face('Euclid Circular A', 'EuclidCircularA-Light', 300);
@include font-face('Euclid Circular A', 'EuclidCircularA-Regular', 400);
@include font-face('Euclid Circular A', 'EuclidCircularA-Medium', 500);
@include font-face('Euclid Circular A', 'EuclidCircularA-Bold', 700);
